 @charset "UTF-8";
article, aside, footer, header, main, nav, section{
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p, 
article, aside, footer, header, main, nav, section {
  padding: 0;
  margin: 0;
}

.banner{
	background-color: rgb(0, 81, 81);
	color: white;
	padding: 0.2% 5%;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	background-color: #FFFFFF;
	color: rgb(0, 31, 62); 
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;}

h3, h4 {
	background-color: #FFFFFF;
	color: light gray; 
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;}
	
p {text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.4em}

.more {
	background-color: #FFFFFF;
	color: rgb(40, 81, 81); 
	text-align: left;
	
}

body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  font-family: font-family: Helvetica, Arial, sans-serif;
  
  
}

nav {
  background-color: rgb(0, 31, 62);
  padding: 0.2% 0%;
  margin-top: 0.1%;
  
}

li a {
  color: rgb(229, 229, 229);
}

li {
  display: inline;
  margin-left: 4%;
  margin-right: 2%;
  font-size: 1.2em;
 
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 
}

section {
  background-color: #FFFFFF;
  margin-top: 0%;
  padding: 1%;
}

article {
  background-color: #FFFFFF;
  margin-top: 2%;
  padding: 1% 1%;
 
}

main {
  width: 65%;
  float: left;
    
  margin-bottom: 1%;
  margin-left: 2%;
  text-align:center;
  font-size:1.1em;
  color:black;
}

aside {
  background-color: #FFFFFF;
  width: 30%;
  float: right;
  padding: 1%;
  margin-top: 2%;
}

footer {
  clear: both;
  background-color: rgb(0, 31, 62);
  color: rgb(229, 229, 229);
  padding: 0.2% 0%;
  text-align: center;
  font-size: 0.9em;
}